* {
    margin: 0;
    padding: 0;
}

.upper_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input_field {
    width: 90%;
}

.item_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: auto;
}
.item {
    border: 1px solid darkgray;
    margin-left:21px;
    /* height: auto; */
    width: 100%;
    /* padding-left: 6px; */
    border-radius: 25px;
    background-color: #e3eeee;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center;*/
}

.btn_circle {
    border-radius: 25px;
    margin-left: 4%;
}

.submited_task {
    text-decoration: line-through;
}
.tasks_container {
    text-align: center;
}
.item_task {
    padding: 10px;
}

.item_list_empty {
    font-size: larger;
}
